<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.IntentionMapper">
    
    <resultMap type='Intention' id='IntentionResult'>
        <id property='id' column='id'/>
        <result property='titulo' column='title' />
        <result property='estado' column='state'/>        
        <result property='descripcion' column='content'/>     
        <result property='fechaCreacion' column='date_of_creation'/>
        <collection property="palabrasClave" ofType="java.lang.String" javaType="list">
            <result column="tag" />
        </collection>
    </resultMap>
    
    <select id="consultarAll" resultMap="IntentionResult">
        SELECT 
            intention.id as id,
            state,
            content,
            date_of_creation,
            title,
            t_palabras.tag as tag
        FROM intention
        join t_intencion_palabra on intention.id = t_intencion_palabra.intention_id
        join t_palabras on t_palabras.id = t_intencion_palabra.t_palabras_id
    </select>
    
    <select id="searchIntention" parameterType="String" resultMap="IntentionResult">
        SELECT
            intention.id as id,
            state,
            content,
            date_of_creation,
            title,
            t_palabras.tag as tag
        FROM intention
        join t_intencion_palabra on intention.id = t_intencion_palabra.intention_id
        join t_palabras on t_palabras.id = t_intencion_palabra.t_palabras_id
        <if test="palabra != null">
            WHERE tag like #{palabra}
        </if>
    </select> 
     
    <insert parameterType= "map" id= "crearIntencion">
        INSERT INTO intencion(user_id,state,content,title) VALUES (#{idUser},#{state},#{content},#{title});
    </insert>
    
  </mapper>
