<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper">

    <resultMap type='User' id='UserResult'>             
        <result property='full_name' column='full_name'/>
        <result property='email' column='useremail'/>
        <result property='areaDepartment' column='areaDepartment'/>
        
        <result property="contrasenia" column="contrasenia"/>
    </resultMap>
    
    <select id="consultarUsuarios" resultMap="UserResult">
        SELECT 
            u.email as useremail,
            u.full_name as full_name,
            u.deparment_area as areaDepartment,
            u.pass as contrasenia,
            u.t_tipos
        FROM usuario AS u
        join t_intencion_palabra on intention.id = t_intencion_palabra.intention_id
        join t_palabras on t_palabras.id = t_intencion_palabra.t_palabras_id
    </select>
    
    <select id='consultarUsuario' parameterType='map' resultMap='UserResult'>
        SELECT
            u.email as useremail,
            u.full_name as full_name,
            u.deparment_area as areaDepartment,
            u.pass as contrasenia
        FROM usuario AS u
        <if test="mail != null">
            WHERE email = #{mail}
        </if>       
    </select>
    
    <delete id="deleteAll">
        delete from usuario
    </delete>

</mapper>