<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper">

    <resultMap type='User' id='UserResult'>          
        <id property='id' column='id'/>   
        <result property='full_name' column='full_name'/>
        <result property='email' column='email'/>
        <result property='areaDepartment' column='deparment_area'/>
        <result property="contrasenia" column='pass'/>
        <result property="tipoUsuario" column='type'/>
    </resultMap>
    
    <select id="consultarUsuarios" resultMap="UserResult">
    select
        usuario.id as id,
        full_name,
        email,
        deparment_area,
        pass,
        t_tipos."type"
        from usuario
        join t_tipos on usuario.t_tipos_user_id = t_tipos.user_id
    </select>
    
    <select id='consultarUsuario' parameterType='String' resultMap='UserResult'>
        SELECT
            usuario.id as id,
            full_name,
            email,
            deparment_area,
            pass,
            t_tipos."type"
        FROM usuario
        join t_tipos on usuario.t_tipos_user_id = t_tipos.user_id
        <if test="mail != null">
            WHERE email = #{mail}
        </if>
    </select>
    
    <select id='consultarUsuariosTU' parameterType='String' resultMap='UserResult'>
        SELECT
            usuario.id as id,
            full_name,
            email,
            deparment_area,
            pass,
            t_tipos."type"
        FROM usuario
        join t_tipos on usuario.t_tipos_user_id = t_tipos.user_id
            WHERE t_tipos."type" LIKE #{TipoUsuario}
    </select>
    
    <delete id="deleteAll">
        delete from usuario
    </delete>

</mapper>